@use '../../../scss/' as *;

.sectionHome {
    padding: 0 40px;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    &__wrap {
        display: flex;

        h2 {
            margin-inline-end: 20px;
            font-size: 1.5 em;
            font-weight: 600;
        }

        .section-item {
            display: flex;
            position: relative;
            padding: 3px;
            height: 32px;
            align-items: center;
            border: 1px solid $tiltle-color;
            border-radius: 30px;
            font-size: 16px;
            z-index: 5;

          
            div {
                z-index: 2;
                height: 32px;
                padding: 4px 16px;
                border-radius: 30px;
                font-weight: 600;
                .color-active-1{
                    background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                .color-active-2{
                    color: $tiltle-color;
                }
            }
            &__cover {
                position: absolute;
                height: 32px;
                width: 80px;
                border-radius: 30px;
                background-color: $tiltle-color;
                transition: all 0.2s ease-in;
                z-index: 1;
            }

        }

    }
}