.trending-wrap-home {
    margin-top: 30px;
    .wrap-cards {
        margin-left: 40px;
        padding: 20px 0;
        .card-home {
            width: 150px;
            display: inline-block;
            cursor: pointer;
            margin-right: 20px;
            .img-card {
                height: 225px;
                width: 150px;
                border-radius: 8px;
            }

            &__wrap-content {
                width: 100%;
                padding: 26px 10px 0;
                word-break: break-all;
                h3 {
                    font-size: 16px;
                    font-weight: 700;
                }

                p {
                    font-size: 16px;
                    font-weight: normal;
                    color: rgba(0, 0, 0, 0.6);
                }
            }
        }
    }
}